<div ng-include="'components/navbar/navbar.html'"></div>

<div id="mainCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    
    <ol class="carousel-indicators">
      <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#mainCarousel" data-slide-to="1"></li>
      <li data-target="#mainCarousel" data-slide-to="2"></li>
      <li data-target="#mainCarousel" data-slide-to="3"></li>
      <li data-target="#mainCarousel" data-slide-to="4"></li>
    </ol>

    <div class="carousel-caption">
      <h1 class="display-1 text-uppercase">Coming Soon!</h1>
    </div>
    
    <div class="carousel-item active" style="background-image: url('../assets/images/banner-01.jpg');">
      <div class="carousel-item-overlay"></div>
    </div>

    <div class="carousel-item" style="background-image: url('../assets/images/banner-02.jpg');">
      <div class="carousel-item-overlay"></div>
    </div>

    <div class="carousel-item" style="background-image: url('../assets/images/banner-03.jpg');">
      <div class="carousel-item-overlay"></div>
    </div>

    <div class="carousel-item" style="background-image: url('../assets/images/banner-04.jpg');">
      <div class="carousel-item-overlay"></div>
    </div>

    <div class="carousel-item" style="background-image: url('../assets/images/banner-05.jpg');">
      <div class="carousel-item-overlay"></div>
    </div>

  </div>
</div>

<div id="services" class="featurette-bg">
  <h2>Our Premium Car Wash Packages</h2>
  <i class="fa fa-angle-down"></i>
</div>

<div class="container card-services">
  <div class="card-deck mb-3 text-center">
    
    <div class="card mb-3 box-shadow summit-wash">
      <div class="card-header">
        <img class="img-responsive" style="max-width: 6rem;" src="../assets/images/alpine-summit-badge@2x.png" />
        <!-- <h5 class="my-1 font-weight-normal">Summit Wash</h5> -->
      </div>
      <div class="card-body">
        
        <div class="services-card__price">
          <span class="services-card__feature-value services-card__feature-price">
            <span class="price">
              <sup class="text-minor">$</sup>
              <span class="price__number">20</span>
            </span>
          </span>
          <sup class="price__or text-minor">or</sup>
          <span class="services-card__feature-value services-card__feature-price">
            <span class="price">
              <sup class="text-minor">$</sup>
              <span class="price__number">45</span>
            </span>
          </span>
          <sub class="billing-period text-minor" aria-hidden="true">
            /mo
          </sub>
          <sub class="text-minor pl-1">
            <i data-toggle="tooltip" data-placement="top" title="Unlimited Wash Club" class="fas fa-info-circle"></i>
          </sub>
        </div>

        <ul class="list-unstyled mt-3 mb-4">
          <li><b>Alpine Total Shine Process</b></li>
          <li><b>Foam Bath</b></li>
          <li><b>Rainbow Conditioner</b></li>
          <li><b>Carnauba Wax</b></li>
          <li><b>Total Body Protect</b></li>
          <li><b>Buff n' Dry</b></li>
          <li>Tire Shine</li>
          <li>Wheel Brite</li>
          <li>Soft Touch Wash</li>
          <li>Spot Free Rinse</li>
          <li>Power Dry</li>
        </ul>
        <a href="#" role="button" class="btn btn-primary text-uppercase">Buy Wash</a>
      </div>
    </div>
    <div class="card mb-3 box-shadow peak-wash">
      <div class="card-header">
        <img class="img-responsive" style="max-width: 6rem;" src="../assets/images/alpine-peak-badge@2x.png" />
        <!-- <h5 class="my-1 font-weight-normal">Peak Wash</h5> -->
      </div>
      <div class="card-body">
        <div class="services-card__price">
          <span class="services-card__feature-value services-card__feature-price">
            <span class="price">
              <sup class="text-minor">$</sup>
              <span class="price__number">15</span>
            </span>
          </span>
        </div>
        <ul class="list-unstyled mt-3 mb-4">
          <li><b>Carnauba Wax</b></li>
          <li><b>Tire Shine</b></li>
          <li><b>Wheel Brite</b></li>
          <li>Rainbow Conditioner</li>
          <li>Clear Coat Protect</li>
          <li>Soft Touch Wash</li>
          <li>Spot Free Rinse</li>
          <li>Power Dry</li>
        </ul>
        <a href="#" role="button" class="btn btn-primary text-uppercase">Buy Wash</a>
      </div>
    </div>
    <div class="card mb-3 box-shadow deluxe-wash">
      <div class="card-header">
        <img class="img-responsive" style="max-width: 6rem;" src="../assets/images/alpine-deluxe-badge@2x.png" />
        <!-- <h5 class="my-1 font-weight-normal">Deluxe Wash</h5> -->
      </div>
      <div class="card-body">
        <div class="services-card__price">
          <span class="services-card__feature-value services-card__feature-price">
            <span class="price">
              <sup class="text-minor">$</sup>
              <span class="price__number">11</span>
            </span>
          </span>
          <sup class="price__or text-minor">or</sup>
          <span class="services-card__feature-value services-card__feature-price">
            <span class="price">
              <sup class="text-minor">$</sup>
              <span class="price__number">25</span>
            </span>
          </span>
          <sub class="billing-period text-minor" aria-hidden="true">
            /mo
          </sub>
          <sub class="text-minor pl-1">
            <i data-toggle="tooltip" data-placement="top" title="Unlimited Wash Club" class="fas fa-info-circle"></i>
          </sub>
        </div>
        <ul class="list-unstyled mt-3 mb-4">
          <li><b>Rainbow Conditioner</b></li>
          <li><b>Clear Coat Protect</b></li>
          <li>Soft Touch Wash</li>
          <li>Spot Free Rinse</li>
          <li>Power Dry</li>
        </ul>
        <a href="#" role="button" class="btn btn-primary text-uppercase">Buy Wash</a>
      </div>
    </div>
    <div class="card mb-3 box-shadow express-wash">
      <div class="card-header">
        <img class="img-responsive" style="max-width: 6rem;" src="../assets/images/alpine-express-badge@2x.png" />
        <!-- <h5 class="my-1 font-weight-normal">Base Wash</h5> -->
      </div>
      <div class="card-body">

        <div class="services-card__price">
          <span class="services-card__feature-value services-card__feature-price">
            <span class="price">
              <sup class="text-minor">$</sup>
              <span class="price__number">8</span>
            </span>
          </span>
        </div>

        <ul class="list-unstyled mt-3 mb-4">
          <li>Soft Touch Wash</li>
          <li>Spot Free Rinse</li>
          <li>Power Dry</li>
        </ul>
        <a href="#" role="button" class="btn btn-primary text-uppercase">Buy Wash</a>
      </div>
    </div>
  </div>
</div>

<div id="map"></div>

<div class="footer">
	<div class="fitzroy">
		<!-- <img class="fitzroy-img" src="https://www.patagonia.com/static/on/demandware.static/Sites-patagonia-us-Site/-/default/dw431a3007/images/interior-nav_fitzroy.png"> -->
	</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <!-- <li><a href="#" class="text-uppercase">Services</a></li>
          <li><a href="#" class="text-uppercase">Contact</a></li>
          <li><a href="#" class="text-uppercase">Jobs</a></li> -->
          <li><a ng-click="privacyOpen()" class="color-primary text-uppercase">Privacy Policy</a></li>
          <li><a ng-click="termsOpen()" class="color-primary text-uppercase">Terms of Use</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-include="'components/contact/contact.html'"></div>
<div ng-include="'components/jobs/jobs.html'"></div>
<div ng-include="'components/privacy-policy/privacy-policy.html'"></div>
<div ng-include="'components/terms-of-use/terms-of-use.html'"></div>

<script>
  function initMap() {

    var myLatlng = new google.maps.LatLng(32.964106,-96.993028);
    var mapOptions = {
      zoom: 12,
      center: myLatlng
    }
    var map = new google.maps.Map(document.getElementById("map"), mapOptions);

    var marker = new google.maps.Marker({
        position: myLatlng,
        title: "Alpine Car Wash"
    });

    // To add the marker to the map, call setMap();
    marker.setMap(map);

  }
</script>

<!-- Google Maps API -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoFJEVdguo18Rzy4YPeHg9DZeVF-589xI&callback=initMap"></script>