<div id="privacyPolicy" class="col-md-6 py-5 ud-sidebar ud-sidebar-right ud-closed">
  <a ng-click="privacyClose()" class="ud-close-icon" aria-label="Close">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <div class="col-md-12">
    <h2 class="mb-3">Privacy Policy</h2>
    <h5 class="font-weight-bold">Alpine Wash, LLC ("Alpine Wash") is firmly committed to protecting your privacy. This policy sets out how we use and protect your personal information.</h5>
        
    <hr/>
    <h5 class="font-weight-bold">COLLECTION OF INFORMATION</h5>
    <p>Alpine Wash may collect, store, and use the following personal information:</p>
    <ol>
      <li>information about any transactions carried out between you and us on or in relation to this website, including information relating to any purchases you make of our goods or services;</li>
      <li>information that you provide to use for the purpose of registering with us and/or subscribing to our website services and/or email notifications.</li>
    </ol> 
    <p>Alpine Wash may also collect, store, and use non-personal data about your visits to and use of this website, including information about your computer and your visits to this website such as your IP address, geographical location, browser type, referral source, length of visit and number of page views.</p>
    
    <hr/>
    <h5 class="font-weight-bold">USE OF PERSONAL DATA</h5>
    <p>Personal information submitted on this website will be used for the purposes specified in this privacy policy or in relevant parts of the website. In addition to the uses identified elsewhere in this privacy policy, Alpine Wash may use your personal information for the following purposes:</p>
    <ol>
      <li>process any inquiries submitted by you and other communications initiated by you in relation to your dealings with Alpine Wash;</li>
      <li>improve your browsing experience by personalizing the website:</li>
      <li>when permitted by you, send you marketing communications;</li>
      <li>comply with statutory and regulatory requirements; and</li>
      <li>achieve the general objectives of Alpine Wash.</li>
    </ol>
    
    <hr/>
    <h5 class="font-weight-bold">USE OF COOKIES</h5>
    <p>Alpine Wash may use technology to track the patterns of behavior of visitors to this website. This can include using a 'cookie', a text file sent by a Web server to a Web browser, and stored by the browser for record keeping purposes. As a result, it is possible to speed up your future activities at this website and allow Alpine Wash to provide you with a personalized browsing experience.</p>
    <p>You can choose to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website features.</p>
    
    <hr/>
    <h5 class="font-weight-bold">SECURITY OF YOUR PERSONAL DATA</h5>
    Alpine Wash takes reasonable precautions to protect your personal information from unauthorized access, use, disclosure, or loss. Data transmission over the Internet is inherently insecure, and there is always some element of risk involved in sending personal information online.
    
    <hr/>
    <h5 class="font-weight-bold">LINKS TO OTHER WEBSITES</h5>
    This website may contain links to other websites of interest. Alpine Wash is not responsible for the protection and privacy of any information, which you provide while visiting such websites and such websites are not governed by this privacy statement.
    
    <hr/>
    <h5 class="font-weight-bold">DISCLOSURE OF YOUR PERSONAL INFORMATION</h5>
    <p>In addition to the disclosures reasonably necessary for the purposes identified elsewhere in this privacy policy, Alpine Wash may disclose information about you:</p>
    <ol>
      <li>to the extent required by law;</li>
      <li>in connection with any legal proceedings or prospective legal proceedings;</li>
      <li>in order to establish, exercise or defend Alpine Wash’ legal rights.</li>
    </ol>
    
    <hr/>
    <h5 class="font-weight-bold">CHANGES TO PRIVACY POLICY</h5>
    <p>Please check this page periodically for changes as Alpine Wash reserves the right, at its discretion, to change, modify, add, or remove portions of the privacy policy and the website at any time. Your continued use of the website following the posting of any changes to this privacy policy will mean that you accept such changes. This policy is effective from December 1, 2013.</p>
        
    <hr/>
    <h5 class="font-weight-bold">CONTACT</h5>
    <p>If you have any questions about this privacy policy or the manner in which Alpine Wash collects, stores, or uses your personal data, please write by postal mail to Attn: Privacy Policy, Alpine Wash, LLC, P.O. Box 496028, Garland, TX 75041.</p>
  </div>
</div>